<!DOCTYPE html>
html(lang="ru")
    head
        include assets/head.pug
        title Главная
        //add Magnific Popup
        <link rel="stylesheet" href="libs/magnific-popup-master/magnific-popup.css">
        //add main styles
        link(rel="stylesheet", href="css/main.css")
    body
        header.header
            div.menu.menu_unfixed
                include assets/header.pug
        main.main
            section.main-screen
            section.about
                h1.main-heading.wow.fadeInLeft Дорогой слушатель!
                .container
                    .greeting
                        p.wow.fadeInRight 
                            strong (Здесь типо какую-нибудь речь написать можно, обращение к слушателям и т.д.)
                            br
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio excepturi eos cupiditate et, iure corrupti numquam nulla ad amet harum saepe, libero consequatur quisquam minus tempora maxime. Quisquam id voluptatibus labore doloremque, sunt blanditiis dolores et consequuntur vero a? Consequatur incidunt libero sit deleniti? Officiis, sunt officia numquam odit veniam eos deleniti unde quos ex perferendis similique rerum nisi blanditiis fugit temporibus expedita ad itaque labore autem, magnam exercitationem quod debitis. Optio dolorum, culpa quas fuga modi laborum distinctio asperiores nisi repellat repudiandae possimus, maxime deserunt assumenda exercitationem sequi voluptates dolore odit cum rem ex labore molestias porro. Temporibus, dignissimos.
                                    
                    img(src="img/greetingPhoto.jpg" alt="greetingPhoto" width="450" height="300" class="greeting-photo wow fadeInUp")
                    a(class="about-group" href="group.html")
                        button.wow.fadeInUp О группе
            section.news#news
                h2.heading.wow.slideInUp Новости
                .container.container_flex
                    include assets/newsBlock.pug
                    +newsBlock
                    +newsBlock
                    +newsBlock
                    +newsBlock
                    +newsBlock
                    +newsBlock
            section.posters#posters
                h2.heading.wow.slideInUp Афиша
                .container
                    include assets/posters.pug
                    +posters
            section.contacts#contacts
                h2.heading.wow.slideInUp Контакты
                .container
        footer.footer
            .container
                include assets/footer.pug
        include assets/scripts.pug
        