nav
    a(href="group.html") Группа
    a(href="index.html#news") Новости
    a(href="index.html#posters") Афиша
    a(href="music.html") Музыка
    a(href="photo.html") Фото
    a(href="video.html") Видео
    a(href="index.html#contacts") Контакты