mixin newsBlock
    .news-block
        h3.heading.news-heading Текст новости
        img(src="#" alt="Photo")
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda aperiam nulla dicta nostrum suscipit. Pariatur tenetur optio dolore repudiandae alias voluptas ipsam. Voluptatem quidem provident corporis minus vel sapiente itaque eligendi dolore consectetur! Eum reprehenderit quidem neque animi! Ratione mollitia veniam illo sed voluptas fugiat exercitationem ex a nihil assumenda.      