//JQuery CDN
script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
//Magnific Popup Plugin
script(src="libs/magnific-popup-master/jquery.magnific-popup.min.js")
//wow.js plugin
script(src="libs/animate/wow.min.js")
script.
    new WOW().init();
//Common JS
script(src="js/common.js")